<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% include 'head.html' %}
{% block body %}
{% include 'menu.html' %}

<h2>Manage admins</h2>
<form action="/addAdmin" method="POST">
    <h3>Add admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for person in people %}
                    {% if person[6] == None %}
                    <option value="{{ person[2] }}">{{ person[2] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td><td><input type="password" value="" placeholder="password" name="password"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>

<form action="/updateAdmin" method="POST">
    <h3>Update admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for admin in admins %}
                    <option value="{{ admin[2] }}">{{ admin[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td><td><input type="password" value="" placeholder="password" name="password"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>

<form action="/delAdmin" method="POST">
    <h3>Delete admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for admin in admins %}
                    <option value="{{ admin[2] }}">{{ admin[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
{% endblock %}
