<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% block head %}
<head>
    <title>{% if login == True %}Sign in - {% endif %}XR {{ groupName }} Mailing APP</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="static/xr.png">
  <link rel="icon" type="image/x-icon" sizes="64x64" href="https://extinctionrebellion.fr/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="https://extinctionrebellion.fr/favicon.png">
</head>
{% endblock %}
