<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% include 'head.html' %}
{% block body %}
{% include 'menu.html' %}
{%if mode == "people" %}
<h2>Manage people</h2>
<form action="/add" method="GET">
    <h3>Add someone</h3>
    <table>
        <tr>
            <td>Name</td><td><input type="text" class="" value="" placeholder="name" name="name"></td>
        </tr>
        <tr>
            <td>Email</td><td><input type="email" value="" placeholder="email" name="email"></td>
        </tr>
        <tr>
            <td>Tel</td><td><input type="tel" value="" placeholder="tel" name="tel"></td>
        </tr>
        <tr>
            <td>Circle</td>
            <td>
                <select name="circle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Add"></td>
        </tr>
    </table>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>
<h3>Update someone</h3>
<form action="/" method="GET">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="updateEmail" onchange="submit()">
                    {% for person in people %}
                    <option value="{{ person[2] }}">{{ person[2] }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="mode" value="{{ mode }}">
            </td>
        </tr>
    </table>
</form>
<form action="/update" method="GET">
    <table>
        <tr>
            <td>Name</td><td><input type="text" class="" value="{% if updatePerson[1] != None %}{{updatePerson[1]}}{% endif %}" placeholder="name" name="name"></td>
        </tr>
        <tr>
            <td>Email</td><td><input type="email" value="{{ updatePerson[2] }}" placeholder="email" name="newemail"></td>
        </tr>
        <tr>
            <td>Tel</td><td><input type="tel" value="{% if updatePerson[4] != None %}{{ updatePerson[4] }}{% endif %}" placeholder="tel" name="tel"></td>
        </tr>
        <tr>
            <td>Circle</td>
            <td>
                <select name="circle">
                    <option value="1" {% if updatePerson[3] == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if updatePerson[3] == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if updatePerson[3] == 3 %} selected {% endif %}>3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Add"></td>
        </tr>
    </table>
    <input type="hidden" value="{{ updatePerson[2] }}" name="email"></td>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>

<form action="/del" method="GET">
    <h3>Delete someone</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for person in people %}
                    <option value="{{ person[2] }}">{{ person[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Delete"></td>
        </tr>
    </table>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>
{% endif %}



{%if mode == "admin" %}
<h2>Manage admins</h2>
<form action="/addAdmin" method="GET">
    <h3>Add admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for person in people %}
                    {% if person[6] == None %}
                    <option value="{{ person[2] }}">{{ person[2] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td><td><input type="password" value="" placeholder="password" name="password"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Add"></td>
        </tr>
    </table>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>

<form action="/updateAdmin" method="GET">
    <h3>Update admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for admin in admins %}
                    <option value="{{ admin[2] }}">{{ admin[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td><td><input type="password" value="" placeholder="password" name="password"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Update"></td>
        </tr>
    </table>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>

<form action="/delAdmin" method="GET">
    <h3>Delete admin</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for admin in admins %}
                    <option value="{{ admin[2] }}">{{ admin[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Delete"></td>
        </tr>
    </table>
    <input type="hidden" name="mode" value="{{ mode }}">
</form>
{% endif %}



{% if mode == "list" or mode == None %}
<form action="/" method="GET">
    <table>
        <tr>
            <td>List mode :</td>
            <td>
                <select name="listMode" onchange="submit()">
                    <option value="all"{% if listMode == "all" %} selected {% endif %}>Full list</option>
                    <option value="email"{% if listMode == "email" or listMode == None %} selected {% endif %}>Email list</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select circle :</td>
            <td><input type="checkbox" name="circle1" {% if circle1 != None %} checked="yes" {% endif %} value="1" onchange="submit()">circle 1</input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" name="circle2" {% if circle2 != None %} checked="yes" {% endif %} value="2" onchange="submit()">circle 2</input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" name="circle3" {% if circle3 != None %} checked="yes" {% endif %} value="3" onchange="submit()">circle 3</input></td>
        </tr>
        <input type="hidden" name="mode" value="{{ mode }}">
    </table>
</form>

<h2>List people</h2>
{% if listMode == "email" or listMode == None %}
<p>
{% for person in people %}
{% if circle1 != None and person[3] == 1 %}
{{ person[2] }}; 
{% elif circle2 != None and person[3] == 2 %}
{{ person[2] }}; 
{% elif circle3 != None and person[3] == 3 %}
{{ person[2] }}; 
{% elif circle1 == None and circle2 == None and circle3 == None %}
{{ person[2] }}; 
{% endif %}
{% endfor %}
<input type="hidden" value="{% for person in people %}{% if circle1 != None and person[3] == 1 %}{{ person[2] }}; {% elif circle2 != None and person[3] == 2 %}{{ person[2] }}; {% elif circle3 != None and person[3] == 3 %}{{ person[2] }}; {% elif circle1 == None and circle2 == None and circle3 == None %}{{ person[2] }}; {% endif %}{% endfor %}" id="emailList">
<button onclick="copyText()">Copy text</button>

<script>
function copyText() {
    var copyText = document.getElementById("emailList");
    copyText.type = "text";
    copyText.select();
    document.execCommand("Copy");
    copyText.type = "hidden";
} 
</script>

</p>
{% endif %}
{% if listMode == "all"%}
<table>
    <tr><td>Name</td><td>Email</td><td>Tel</td><td>Circle</td></tr>
    {% for person in people %}
    {% if circle1 != None and person[3] == 1 %}
    <tr><td>{{ person[1] }}</td><td>{{ person[2] }}</td><td>{{ person[4] }}</td><td>{{ person[3] }}</td></tr>
    {% elif circle2 != None and person[3] == 2 %}
    <tr><td>{{ person[1] }}</td><td>{{ person[2] }}</td><td>{{ person[4] }}</td><td>{{ person[3] }}</td></tr>
    {% elif circle3 != None and person[3] == 3 %}
    <tr><td>{{ person[1] }}</td><td>{{ person[2] }}</td><td>{{ person[4] }}</td><td>{{ person[3] }}</td></tr>
    {% elif circle1 == None and circle2 == None and circle3 == None %}
    <tr><td>{{ person[1] }}</td><td>{{ person[2] }}</td><td>{{ person[4] }}</td><td>{{ person[3] }}</td></tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}

