<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% include 'head.html' %}
{% block body %}
{% include 'menu.html' %}

<form action="/list" method="GET">
    <table>
        <tr>
            <td>List mode :</td>
            <td>
                <select name="listMode" onchange="submit()">
                    <option value="email"{% if listMode == "email" or listMode == None %} selected {% endif %}>Email list</option>
                    <option value="all"{% if listMode == "all" %} selected {% endif %}>Full list</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Select circle :</td>
            <td><label><input type="checkbox" name="circle1" {% if circle1 == "1" %} checked="yes" {% endif %} value="1" onchange="submit()">circle 1</input></label></td>
        </tr>
        <tr>
            <td></td>
            <td><label><input type="checkbox" name="circle2" {% if circle2 == "2" %} checked="yes" {% endif %} value="2" onchange="submit()">circle 2</input></label></td>
        </tr>
        <tr>
            <td></td>
            <td><label><input type="checkbox" name="circle3" {% if circle3 == "3" %} checked="yes" {% endif %} value="3" onchange="submit()">circle 3</input></label></td>
        </tr>
        <input type="hidden" name="mode" value="{{ mode }}">
    </table>
</form>

{% if listMode == "email" or listMode == None %}
<p><input type="button" value="Copy addresses" onclick="copyText()"></p>
<p><strong>Total:</strong> {{ total }}</p>
<table class="table">
<tr><th>Email addresses</th></tr>
{% for person in people %}
{% if person[3] in current_circles %}
<tr><td>
{{ person[2] }} 
</tr></td>
{% endif %}
{% endfor %}
</table>
<input type="hidden" value="{% for person in people %}{% if person[3] in current_circles %}{{ person[2] }}; {% endif %}{% endfor %}" id="emailList">

<script>
function copyText() {
    var copyText = document.getElementById("emailList");
    copyText.type = "text";
    copyText.select();
    document.execCommand("Copy");
    copyText.type = "hidden";
} 
</script>

</p>
{% endif %}
{% if listMode == "all"%}
<p><strong>Total:</strong> {{ total }}</p>
<table class="table">
    <tr><th scope="col">Name</th><th scope="col">Email</th><th scope="col">Tel</th><th scope="col">Circle</th></tr>
    {% for person in people %}
    {% if person[3] in current_circles %}
    <tr><td>{{ person[1] }}</td><td>{{ person[2] }}</td><td>{{ person[4] }}</td><td>{{ person[3] }}</td></tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}

