<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><svg width="200.00198" height="66.600403" viewBox="0 0 200.00198 66.600403"><path d="M 200.00198,58.715537 V 25.825353 l -36.31384,3.926385 v 24.309208 c 0,0 0.0287,0.493051 -0.7383,0.493051 h -1.44789 -1.44631 c -0.767,0 -0.7383,-0.493051 -0.7383,-0.493051 V 43.134823 30.225096 l -1.53241,0.165758 v 23.670092 c 0,0 0.0287,0.493051 -0.7383,0.493051 h -1.4463 -1.4479 c -0.767,0 -0.7383,-0.493051 -0.7383,-0.493051 V 43.134823 30.862697 l -21.20659,2.293115 v 7.78492 c 0.18657,-0.0047 0.55014,-0.06697 0.89457,-0.435406 0.48795,-0.523268 1.41919,-1.465358 2.44133,-1.465358 1.02055,0 3.85894,0.80041 3.85894,7.300002 0,6.499831 -2.66777,8.429218 -3.85894,8.429218 -0.65378,0 -1.357,0.03524 -2.12879,-0.652431 -0.88022,-0.783028 -0.84514,-0.873602 -1.07316,-0.839956 -0.0494,0.0077 -0.13395,0.05071 -0.13395,0.146624 v 0.637521 c 0,0 0.0287,0.493051 -0.73671,0.493051 h -1.44789 -1.4479 c -0.76541,0 -0.73671,-0.493051 -0.73671,-0.493051 V 43.134823 33.627973 L 79.542505,38.849971 V 58.715537 Z M 114.33366,43.48707 c 0,0 0.0144,0.384697 -0.28224,0.384697 -0.25673,0 -3.37099,-0.226433 -3.37258,2.04085 v 8.148329 c 0,0 0.0287,0.491536 -0.7383,0.491536 h -1.44631 -1.44789 c -0.76541,0 -0.7383,-0.491536 -0.7383,-0.491536 V 43.560581 43.134823 39.802426 c 0,-0.430781 0.56767,-0.386212 0.56767,-0.386212 h 1.61852 1.61693 c 0,0 0.56768,-0.04457 0.56768,0.386212 v 1.144844 c 0.18975,-0.01276 0.57405,-0.08475 0.90254,-0.453186 0.45446,-0.512026 1.27727,-1.447897 2.47004,-1.447897 0.24397,0 0.28224,0.142318 0.28224,0.368432 z m 12.19232,4.642121 c -0.14192,0.476786 -0.87863,0.44011 -0.87863,0.44011 h -5.96062 c 0,1.207113 0.0606,2.554471 1.45588,2.554471 0.99343,0 1.18638,-0.666543 1.27089,-0.979245 0.10365,-0.397055 0.66495,-0.341005 0.66495,-0.341005 h 2.55455 c 0.55333,0 0.52462,0.425758 0.52462,0.425758 0,0 0.28384,4.712125 -5.19361,4.712125 -5.47745,0 -5.77564,-6.812214 -5.77564,-6.812214 0,0 -1.07795,-9.038116 5.70388,-9.038116 6.84084,0 5.79319,8.508629 5.63373,9.038116 m 25.32704,0 c -0.14352,0.476786 -0.88022,0.44011 -0.88022,0.44011 h -5.96062 c 0,1.207113 0.0606,2.554471 1.45587,2.554471 0.99344,0 1.18638,-0.666543 1.27249,-0.979245 0.10206,-0.397055 0.66336,-0.341005 0.66336,-0.341005 h 2.55455 c 0.55332,0 0.52462,0.425758 0.52462,0.425758 0,0 0.28384,4.712125 -5.19361,4.712125 -5.47746,0 -5.77565,-6.812214 -5.77565,-6.812214 0,0 -1.07795,-9.038116 5.70548,-9.038116 6.83925,0 5.79159,8.508629 5.63373,9.038116 m 13.87302,-8.32525 c 0,-0.432296 0.56768,-0.386212 0.56768,-0.386212 h 1.61852 1.61693 c 0,0 0.56767,-0.04608 0.56767,0.386212 v 14.257005 c 0,0 0.0287,0.493051 -0.7383,0.493051 h -1.4463 -1.4479 c -0.76541,0 -0.7383,-0.493051 -0.7383,-0.493051 V 43.134823 Z m 4.81091,-4.572039 c 0,1.41776 -1.17522,2.567546 -2.62471,2.567546 -1.44949,0 -2.62631,-1.149786 -2.62631,-2.567546 0,-1.418955 1.17682,-2.568742 2.62631,-2.568742 1.44949,0 2.62471,1.149787 2.62471,2.568742 m 12.78073,11.801958 v 0.0015 c 0,7.564706 -4.62434,7.765944 -5.42483,7.765944 -0.0973,0 -0.22644,0.0046 -0.36836,0.0046 -0.15308,0 -0.31254,-0.01148 -0.40821,-0.01148 -0.80049,0 -5.41527,-0.685518 -5.41527,-7.759087 v -0.0015 -0.0031 c 0.002,-8.139001 5.15375,-7.941271 5.68635,-7.941271 0.0367,0 0.0797,0.0031 0.12119,0.0062 0.043,-0.0031 0.0861,-0.0062 0.12119,-0.0062 0.53419,0 5.68475,-0.19773 5.68794,7.941271 0,0.0015 0,0.0015 0,0.0031 M 195.1528,43.1348 v 10.926123 c 0,0 0.0287,0.493051 -0.7383,0.493051 h -1.44789 -1.21031 c -0.767,0 -0.7383,-0.493051 -0.7383,-0.493051 v -9.365089 c 0,0 0.0797,-1.0219 -0.68089,-1.0219 -0.93444,0 -1.25655,0.698595 -1.25814,1.014086 v 9.372903 c 0,0 0.0287,0.493051 -0.7383,0.493051 h -1.4463 -1.4479 c -0.767,0 -0.7383,-0.493051 -0.7383,-0.493051 v -10.9261 -3.330882 c 0,-0.432296 0.56768,-0.386212 0.56768,-0.386212 h 1.61852 1.61692 c 0,0 0.56768,-0.04608 0.56768,0.386212 v 1.141415 c 0.33805,-0.01244 0.60435,-0.169107 0.69206,-0.234486 0.27267,-0.204029 1.30597,-1.663088 2.6853,-1.663088 3.00742,0 2.69647,4.087041 2.69647,4.087041 m -16.45628,3.693493 c 0,-0.07853 0.0112,-1.108486 -0.0749,-2.168975 -0.0893,-1.10187 -1.09549,-1.043029 -1.09549,-1.043029 0,0 -1.0062,-0.05884 -1.09549,1.043029 -0.0861,1.060489 -0.075,2.090441 -0.075,2.168975 0,0.0763 -0.0112,1.211817 0.075,2.271987 0.051,0.63784 0.40981,0.886678 0.70322,0.982593 0.20092,0.08754 0.37473,0.07598 0.37473,0.07598 0,0 0.12916,0.0085 0.29021,-0.04457 0.30617,-0.06506 0.76382,-0.285274 0.82282,-1.014007 0.0861,-1.06017 0.0749,-2.195685 0.0749,-2.271987 m -30.85392,-1.77184 c 0,0 0.0223,-1.9789 -1.37455,-1.9789 -1.35541,0 -1.46863,1.637576 -1.46863,1.972681 0,0.334786 0.6522,0.312063 0.6522,0.312063 h 1.53241 c 0.7383,0 0.65857,-0.305844 0.65857,-0.305844 m -25.32545,0 c 0,0 0.0223,-1.9789 -1.37454,-1.9789 -1.35701,0 -1.47023,1.637576 -1.47023,1.972681 0,0.334786 0.65379,0.312063 0.65379,0.312063 h 1.53241 c 0.73671,0 0.65857,-0.305844 0.65857,-0.305844 m 9.62023,1.77184 c 0,0.0763 -0.0112,1.106254 0.0749,2.166664 0.0893,1.103463 1.09549,1.043028 1.09549,1.043028 0,0 1.0062,0.06044 1.09549,-1.043028 0.0861,-1.06041 0.0765,-2.090362 0.075,-2.166664 0.002,-0.07853 0.0112,-1.108486 -0.075,-2.168975 -0.0893,-1.10187 -1.09549,-1.043029 -1.09549,-1.043029 0,0 -1.00619,-0.05884 -1.09549,1.043029 -0.0861,1.060489 -0.0749,2.090441 -0.0749,2.168975" style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.13333334" id="path14"></path><path d="M 190.22628,23.555838 V 3.6903038 H 69.766886 V 36.578941 L 154.25528,27.44483 c -1.60895,-0.436921 -4.43618,-2.036226 -4.43618,-7.590219 v -0.0031 -0.0034 c 0.002,-8.139001 5.15375,-7.941191 5.68795,-7.941191 0.0351,0 0.0781,0.0031 0.12198,0.0068 0.0407,-0.0037 0.0837,-0.0068 0.12039,-0.0068 0.5326,0 5.68476,-0.19781 5.68635,7.941191 v 0.0034 0.0031 c 0,4.434664 -1.58742,6.32889 -3.06482,7.145485 l 4.26795,-0.46092 v -10.54023 -3.33128 c 0,-0.432217 0.56688,-0.385814 0.56688,-0.385814 h 1.61692 1.61852 c 0,0 0.56768,-0.0464 0.56768,0.385814 v 1.141814 c 0.33646,-0.01276 0.60435,-0.168789 0.69206,-0.234247 0.27267,-0.204587 1.30597,-1.663089 2.68371,-1.663089 3.00901,0 2.69647,4.086802 2.69647,4.086802 v 9.409658 z m -46.0696,-10.888172 c 0,-0.432217 0.56768,-0.385814 0.56768,-0.385814 h 1.61852 1.61692 c 0,0 0.56768,-0.0464 0.56768,0.385814 v 14.2586 c 0,0 0.0287,0.491456 -0.7383,0.491456 h -1.4463 -1.4471 c -0.76541,0 -0.7391,-0.491456 -0.7391,-0.491456 v -10.92732 z m -35.13384,0 c 0,-0.432217 0.56768,-0.385814 0.56768,-0.385814 h 1.61693 1.61852 c 0,0 0.56608,-0.0464 0.56608,0.385814 v 14.2586 c 0,0 0.0287,0.491456 -0.73671,0.491456 h -1.44789 -1.4479 c -0.76541,0 -0.73671,-0.491456 -0.73671,-0.491456 v -10.92732 z m -22.190459,8.326845 c -0.143514,0.476785 -0.880219,0.440349 -0.880219,0.440349 h -5.960617 c 0,1.205358 0.06059,2.552955 1.457465,2.552955 0.991841,0 1.184788,-0.666782 1.270896,-0.978845 0.102055,-0.397454 0.663354,-0.340129 0.663354,-0.340129 h 2.55455 c 0.553327,0 0.524624,0.426078 0.524624,0.426078 0,0 0.283839,4.71029 -5.193614,4.71029 -5.477294,0 -5.775404,-6.810698 -5.775404,-6.810698 0,0 -1.077871,-9.039711 5.705241,-9.039711 6.839242,0 5.793184,8.508709 5.633724,9.039711 m 12.49848,6.423211 h -3.93388 c 0,0 -0.41938,0 -0.664948,-0.435326 -0.223245,-0.398651 -1.390492,-2.922983 -1.390492,-2.922983 0,0 -0.113217,-0.226354 -0.33965,-0.226354 -0.228028,0 -0.341245,0.226354 -0.341245,0.226354 0,0 -1.165653,2.524332 -1.390491,2.922983 -0.243974,0.435326 -0.663354,0.435326 -0.663354,0.435326 h -3.93388 c -0.425758,0 0,-0.690781 0,-0.690781 0,0 3.831825,-6.413245 3.97215,-6.711595 0.143514,-0.29811 0,-0.610492 0,-0.610492 0,0 -3.447526,-6.158189 -3.745717,-6.682972 -0.29819,-0.524464 0.526219,-0.44003 0.526219,-0.44003 h 3.53204 c 0.625083,0 0.767003,0.397056 0.767003,0.397056 0,0 0.880219,2.044358 1.022139,2.355145 0.153081,0.357271 0.255136,0.312383 0.255136,0.312383 0,0 0.09089,0.04489 0.255136,-0.312383 0.141919,-0.310787 1.022139,-2.355145 1.022139,-2.355145 0,0 0.141919,-0.397056 0.765408,-0.397056 h 3.533635 c 0,0 0.822814,-0.08443 0.524624,0.44003 -0.298191,0.524783 -3.745717,6.682972 -3.745717,6.682972 0,0 -0.141919,0.312382 0,0.610492 0.141919,0.29835 3.973745,6.711595 3.973745,6.711595 0,0 0.425758,0.690781 0,0.690781 M 107.39635,15.5283 c 0,0 0.0223,0.470646 -0.46562,0.470646 h -0.95995 v 10.92732 c 0,0 0.0287,0.491456 -0.73671,0.491456 h -1.4479 -1.44789 c -0.76541,0 -0.73671,-0.491456 -0.73671,-0.491456 v -10.92732 h -0.95995 c -0.48795,0 -0.46562,-0.470646 -0.46562,-0.470646 v -2.803308 c 0,-0.44314 0.43214,-0.44314 0.43214,-0.44314 h 0.99343 V 8.5236179 c 0,-0.4307016 0.56609,-0.3862122 0.56609,-0.3862122 h 1.61851 1.61693 c 0,0 0.56768,-0.044489 0.56768,0.3862122 v 3.7582341 h 0.99343 c 0,0 0.43214,0 0.43214,0.44314 z m 6.43661,-7.4322742 c 0,1.4173607 -1.17602,2.5672272 -2.62551,2.5672272 -1.4495,0 -2.62472,-1.1498665 -2.62472,-2.5672272 0,-1.4192743 1.17522,-2.5691408 2.62472,-2.5691408 1.44949,0 2.62551,1.1498665 2.62551,2.5691408 m 11.57919,7.9029202 v 10.92732 c 0,0 0.0287,0.491456 -0.7383,0.491456 h -1.4463 -1.2119 c -0.76541,0 -0.7375,-0.491456 -0.7375,-0.491456 V 17.56022 c 0,0 0.0789,-1.022458 -0.6817,-1.022458 -0.93443,0 -1.25654,0.698514 -1.25814,1.014006 v 9.374498 c 0,0 0.0287,0.491456 -0.7383,0.491456 h -1.4455 -1.4487 c -0.767,0 -0.7383,-0.491456 -0.7383,-0.491456 v -10.92732 -3.33128 c 0,-0.432217 0.56768,-0.385814 0.56768,-0.385814 h 1.61932 1.61613 c 0,0 0.56767,-0.0464 0.56767,0.385814 v 1.141814 c 0.33806,-0.01276 0.60675,-0.168789 0.69206,-0.234247 0.27268,-0.204587 1.30598,-1.663089 2.68531,-1.663089 3.00981,0 2.69647,4.086802 2.69647,4.086802 m 9.19447,10.001415 c 0,0 0.008,0.327929 -0.13555,0.669652 -0.45924,0.886359 -2.13118,0.970713 -2.55933,0.970713 -0.79969,0 -5.41766,0.351371 -5.42084,-7.78763 v -0.005 c 0.003,-8.139001 5.15295,-7.941191 5.68714,-7.941191 0.42895,0 1.33149,0.183379 1.75884,0.521594 0.13554,0.108433 0.40982,0.307758 0.53419,0.602679 0.14352,0.341006 0.13555,0.669653 0.13555,0.669653 v 2.483112 c 0,0.468733 -0.35401,0.312701 -0.35401,0.312701 0,0 -0.59638,-0.29835 -0.99343,-0.29835 -1.92469,0 -1.92787,3.530207 -1.92787,3.649802 v 0.0034 0.0016 c 0,0.119595 0.003,3.649801 1.92787,3.649801 0.39705,0 0.99343,-0.298349 0.99343,-0.298349 0,0 0.35401,-0.156032 0.35401,0.312701 z M 143.13374,15.5283 c 0,0 0.0215,0.470646 -0.46562,0.470646 h -0.95995 v 10.92732 c 0,0 0.0279,0.491456 -0.7375,0.491456 h -1.4479 -1.4479 c -0.76541,0 -0.7367,-0.491456 -0.7367,-0.491456 v -10.92732 h -0.95995 c -0.48715,0 -0.46563,-0.470646 -0.46563,-0.470646 v -2.803308 c 0,-0.44314 0.43214,-0.44314 0.43214,-0.44314 h 0.99344 V 8.5236179 c 0,-0.4307016 0.56767,-0.3862122 0.56767,-0.3862122 h 1.61693 1.61772 c 0,0 0.56768,-0.044489 0.56768,0.3862122 v 3.7582341 h 0.99344 c 0,0 0.43213,0 0.43213,0.44314 z m 5.83385,-7.4322742 c 0,1.4173607 -1.17522,2.5672272 -2.62471,2.5672272 -1.4487,0 -2.62631,-1.1498665 -2.62631,-2.5672272 0,-1.4192743 1.17761,-2.5691408 2.62631,-2.5691408 1.44949,0 2.62471,1.1498665 2.62471,2.5691408 M 82.821961,17.920201 c 0,0 0.02232,-1.977305 -1.372951,-1.977305 -1.357006,0 -1.471817,1.637894 -1.471817,1.97268 0,0.334787 0.653786,0.312701 0.653786,0.312701 h 1.532412 c 0.7383,0 0.65857,-0.308076 0.65857,-0.308076 m 71.651779,1.725437 c 0,0.07662 -0.0104,1.211817 0.075,2.272306 0.0526,0.637521 0.41061,0.886359 0.70322,0.982274 0.20092,0.08754 0.37712,0.07662 0.37712,0.07662 0,0 0.12757,0.0078 0.28942,-0.04481 0.30537,-0.06546 0.76222,-0.285274 0.82122,-1.014086 0.0861,-1.060489 0.075,-2.195685 0.075,-2.272306 0,-0.0763 0.0112,-1.108407 -0.075,-2.168577 -0.0893,-1.101949 -1.09549,-1.042709 -1.09549,-1.042709 0,0 -1.00619,-0.05924 -1.09549,1.042709 -0.0853,1.06017 -0.075,2.092276 -0.075,2.168577 m 12.53516,-2.09387 v 8.513971 l 1.93983,-0.209291 V 17.56022 c 0,0 0.0789,-1.022458 -0.68169,-1.022458 -0.93603,0 -1.25814,0.698514 -1.25814,1.014006" style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.13333334" id="path16"></path><path d="M 66.598574,33.300044 C 66.598574,14.909834 51.688739,-6.596e-7 33.29853,-6.596e-7 14.907921,-6.596e-7 -0.00155711,14.909834 1.2197348e-7,33.300044 -0.00155711,51.690572 14.907921,66.600399 33.29853,66.600399 c 18.392043,0 33.300044,-14.909827 33.300044,-33.300355 M 33.29853,61.471829 c -7.056427,0 -13.499969,-2.600882 -18.443231,-6.886977 h 0.37816 1.605444 32.352931 2.173281 0.37808 c -4.943262,4.286095 -11.388558,6.886977 -18.444665,6.886977 m 0,-24.046713 10.444634,12.013721 H 22.855411 Z m 0,-8.256682 L 22.860434,17.160932 H 43.736945 Z M 12.863643,13.919427 29.708765,33.296934 12.860534,52.67755 C 8.0720278,47.62745 5.1263939,40.810533 5.1263939,33.300044 c 0,-7.510489 2.9456339,-14.330516 7.7372491,-19.380617 M 33.29853,5.1282349 c 7.056107,0 13.501403,2.5990395 18.444665,6.8854061 h -3.53204 v 0.0016 H 18.387419 v -0.0016 h -3.53212 C 19.798561,7.7272744 26.242103,5.1282349 33.29853,5.1282349 M 61.470019,33.300044 c 0,7.510489 -2.943473,14.327406 -7.733573,19.377506 L 36.887577,33.296934 53.734931,13.919427 c 4.791615,5.050101 7.735088,11.870128 7.735088,19.380617" style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.13333334" id="path18"></path></svg></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if mode == "list" or mode == None %}active{% endif %}">
        <a class="nav-link" href="/list">List{% if mode == "list" or mode == None %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item {% if mode == "people" %}active{% endif %}">
        <a class="nav-link" href="/people">People{% if mode == "people" %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item {% if mode == "admin" %}active{% endif %}">
        <a class="nav-link" href="/admins">Admins{% if mode == "admin" %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
