<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% include 'head.html' %}
{% block body %}
{% include 'menu.html' %}

<h2>Manage people</h2>
<form action="/add" method="POST">
    <h3>Add someone</h3>
    <table>
        <tr>
            <td>Name</td><td><input type="text" class="" value="" placeholder="name" name="name"></td>
        </tr>
        <tr>
            <td>Email</td><td><input type="email" value="" placeholder="email" name="email"></td>
        </tr>
        <tr>
            <td>Tel</td><td><input type="tel" value="" placeholder="tel" name="tel"></td>
        </tr>
        <tr>
            <td>Circle</td>
            <td>
                <select name="circle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
<h3>Update someone</h3>
<form action="/people" method="GET">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="updateEmail" onchange="submit()">
                    {% for person in people %}
                    <option value="{{ person[2] }}" {% if person[2] == updatePerson[2] %} selected {% endif %}>{{ person[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
</form>
<form action="/update" method="POST">
    <table>
        <tr>
            <td>Name</td><td><input type="text" class="" value="{% if updatePerson[1] != None %}{{updatePerson[1]}}{% endif %}" placeholder="name" name="name"></td>
        </tr>
        <tr>
            <td>Email</td><td><input type="email" value="{{ updatePerson[2] }}" placeholder="email" name="newemail"></td>
        </tr>
        <tr>
            <td>Tel</td><td><input type="tel" value="{% if updatePerson[4] != None %}{{ updatePerson[4] }}{% endif %}" placeholder="tel" name="tel"></td>
        </tr>
        <tr>
            <td>Circle</td>
            <td>
                <select name="circle">
                    <option value="1" {% if updatePerson[3] == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if updatePerson[3] == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if updatePerson[3] == 3 %} selected {% endif %}>3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Update"></td>
        </tr>
    </table>
    <input type="hidden" value="{{ updatePerson[2] }}" name="email"></td>
</form>

<form action="/del" method="POST">
    <h3>Delete someone</h3>
    <table>
        <tr>
            <td>Email</td>
            <td>
                <select name="email">
                    {% for person in people %}
                    <option value="{{ person[2] }}">{{ person[2] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
{% endblock %}
