<!-- 
Copyright © 2019 Dorian Bonnet

This file is part of xr-mailing.

xr-mailing is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IrieBar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with xr-mailing.  If not, see <https://www.gnu.org/licenses/> 
-->

{% block body %}
<h1>Setup XR Mailing APP<h1>

<form action="/setup" method="POST">
    <table>
        <tr>
            <td>Local group name :</td><td><input type="text" name="group"></td>
            <td>
        </tr>
        <tr><td>Create admin:</td><td></td></tr>
        <tr>
            <td>Name</td><td><input type="text" class="" value="" placeholder="name" name="name"></td>
        </tr>
        <tr>
            <td>Email</td><td><input type="email" value="" placeholder="email" name="email"></td>
        </tr>
        <tr>
            <td>Tel</td><td><input type="tel" value="" placeholder="tel" name="tel"></td>
        </tr>
        <tr>
            <td>Password</td><td><input type="password" value="" placeholder="password" name="password"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Validate"></td>
        </tr>
    </table>
    <input type="hidden" name="circle" value="1">
</form>
{% endblock %}
